@page
@model FairTrade.Pages.Index1Model
@{
}

<head>
@*    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FairTrade</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FairTrade.styles.css" asp-append-version="true" />
</head>


<form class="FairsSuggest">
    <h1 class="suggest-text">SUGESTÃO DE FEIRAS</h1>
    <form class="home-form2">
    <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="home-image3"
    />
    <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="home-image4"
    />
    <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="home-image5"
    />
    </form>
</form>

